servo_node:
  ros__parameters:
    moveit_servo.move_group_name: "sekirei_arm"

    moveit_servo.command_in_type: "unitless"
    # command_in_type: "unitless"
    moveit_servo.base_frame: "base_link"
    moveit_servo.ee_frame: "arm6_link"

    moveit_servo.joint_topic: "/joint_states"
    moveit_servo.pose_command_in_topic: "~/pose_target_cmds"
    moveit_servo.cartesian_command_in_topic: "~/delta_twist_cmds"
    moveit_servo.joint_command_in_topic: "~/delta_joint_cmds"
    # moveit_servo.command_out_topic: "/sekirei_arm_controller/joint_trajectory"
    moveit_servo.command_out_topic: "/sekirei_arm_controller/joint_trajectory_controller/commands"
    moveit_servo.command_out_type: "trajectory_msgs/JointTrajectory"

    moveit_servo.use_output_qos: true
    moveit_servo.output_qos_override:
      reliability: best_effort
      durability: volatile

    moveit_servo.status_topic: "~/status"
    moveit_servo.controller_name: "sekirei_arm_controller"

    moveit_servo.publish_period: 0.05
    moveit_servo.max_expected_latency: 0.2

    moveit_servo.scale:
      linear: 0.15
      rotational: 0.3
      joint: 0.2

    moveit_servo.incoming_command_timeout: 0.1
    moveit_servo.publish_joint_positions: true
    moveit_servo.publish_joint_velocities: true
    moveit_servo.publish_joint_accelerations: false

    moveit_servo.pose_tracking:
      linear_tolerance: 0.001
      angular_tolerance: 0.01

    moveit_servo.monitored_planning_scene_topic: "/planning_scene"
    moveit_servo.check_octomap_collisions: false
    moveit_servo.check_collisions: true
    moveit_servo.self_collision_proximity_threshold: 0.01
    moveit_servo.scene_collision_proximity_threshold: 0.02
    moveit_servo.collision_check_rate: 10.0

    moveit_servo.allow_integration_in_goal_trajectories: true

    moveit_servo.use_smoothing: false
    moveit_servo.smoothing_filter_plugin_name: "online_signal_smoothing::ButterworthFilterPlugin"

    moveit_servo.lower_singularity_threshold: 17.0
    moveit_servo.hard_stop_singularity_threshold: 30.0
    moveit_servo.leaving_singularity_threshold_multiplier: 2.0
    moveit_servo.singularity_step_scale: 0.01

    moveit_servo.halt_all_joints_in_joint_mode: true
    moveit_servo.halt_all_joints_in_cartesian_mode: true
    moveit_servo.joint_limit_margins: [0.1]
    moveit_servo.override_velocity_scaling_factor: 0.5

    # moveit_servo.joint_topic: "/joint_states"
