services:
  ros2_container:
    # Instead of 'image', use 'build' to build from your Dockerfile
    build:
      context: . # Looks for Dockerfile in the current directory
      dockerfile: ./ros_ws/Dockerfile

    container_name: ros2_working_container
    tty: true
    privileged: true
    network_mode: host
    # Update working_dir to match the user's home in Dockerfile
    working_dir: /root/

    environment:
      - ROS_DOMAIN_ID=0
      - DEBIAN_FRONTEND=noninteractive
      - DISPLAY=${DISPLAY}   # <-- CRUCIAL: Passes the host's display variab
    volumes:
      # Mount host ~/.ssh to the new user's home in container
      - ~/.ssh:/root/.ssh:ro # <--- REPLACE with your actual host username
      - ~/.bashrc:/root/.bashrc
      - ~/.config/fish/config.fish:/root/.config/fish/config.fish
      - ~/.bashrc:/root/.bashrc      docker compose ps
      # Mount your ROS workspace
      - ./:/root/ # <--- REPLACE with your actual host username
      - ~/.ccache:/root/.ccache
      - /tmp/.X11-unix:/tmp/.X11-unix:rw # <-- Shares the X server socket

  microros_agent:
    build:
      context: .
      dockerfile: ./microros_ws/Dockerfile
    container_name: microros_agent_container
    tty: true
    privileged: true
    network_mode: host
    working_dir: /root/microros_ws
    environment:
      - ROS_DOMAIN_ID=0
    volumes:
      # Mount FreeRTOS app source for editing from host
      - ./microros_ws/firmware:/root/microros_ws/firmware
    devices:
      - /dev/ttyACM0:/dev/ttyACM0  # STM32 Nucleo F446RE (ST-Link virtual COM port)

  flutter:
    build:
      context: .
      dockerfile: ./flutter/Dockerfile
    tty: true
    privileged: true
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY:-$HOME/.Xauthority}:/root/.Xauthority:ro
      - ./flutter:/flutter
    environment:
      - DISPLAY=${DISPLAY:-:0}
    network_mode: "host"
    working_dir: /flutter
    ipc: host
    depends_on:
      - ros2_container
